Repository SSUMC-7th/iOS_A, pull requests merged in 2024-10, with the labels that each got.

#2 [bemo/week1] 1주차 실습
  bemo/Week1/KREAM/KREAM.xcodeproj/project.pbxproj
  bemo/Week1/KREAM/KREAM/AppDelegate.swift
  bemo/Week1/KREAM/KREAM/Assets.xcassets/AccentColor.colorset/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/AppIcon.appiconset/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Apple_logo.imageset/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Apple_logo.imageset/Vector.png
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Kakao_logo.imageset/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Kakao_logo.imageset/Path.png
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Kream_logo.imageset/Contents.json
  bemo/Week1/KREAM/KREAM/Assets.xcassets/Kream_logo.imageset/스크린샷 2024-09-28 오후 6.55.11.png
  bemo/Week1/KREAM/KREAM/Base.lproj/LaunchScreen.storyboard
  bemo/Week1/KREAM/KREAM/Base.lproj/Main.storyboard
  bemo/Week1/KREAM/KREAM/Models/LoginModel.swift
  bemo/Week1/KREAM/KREAM/SceneDelegate.swift
  bemo/Week1/KREAM/KREAM/ViewControllers/LoginViewController.swift
  bemo/Week1/KREAM/KREAM/ViewControllers/ViewController.swift
  bemo/Week1/KREAM/KREAM/Views/LoginView.swift
Labels: Week1

#9 [bemo/week2] 2주차 과제
  bemo/week2/KREAM/KREAM.xcodeproj/project.pbxproj
  bemo/week2/KREAM/KREAM/AppDelegate.swift
  bemo/week2/KREAM/KREAM/Assets.xcassets/AccentColor.colorset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/AppIcon.appiconset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Apple_logo.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Apple_logo.imageset/Vector.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Home.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Home.imageset/Frame 1881.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/Kakao_logo.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Kakao_logo.imageset/Path.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/Kream_logo.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Kream_logo.imageset/스크린샷 2024-09-28 오후 6.55.11.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/My.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/My.imageset/Frame 1888.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/ProfileEditViewController.swift
  bemo/week2/KREAM/KREAM/Assets.xcassets/Saved.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Saved.imageset/Frame 1886.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/Shop.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Shop.imageset/Frame 1887.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/Style.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/Style.imageset/Frame 1883.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/back_button.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/back_button.imageset/Vector-3.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/camera_button.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/camera_button.imageset/Vector-2.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/profile_image.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/profile_image.imageset/프로필 Image.png
  bemo/week2/KREAM/KREAM/Assets.xcassets/setting_button.imageset/Contents.json
  bemo/week2/KREAM/KREAM/Assets.xcassets/setting_button.imageset/환경 설정 버튼.png
  bemo/week2/KREAM/KREAM/Base.lproj/LaunchScreen.storyboard
  bemo/week2/KREAM/KREAM/Base.lproj/Main.storyboard
  bemo/week2/KREAM/KREAM/Models/LoginModel.swift
  bemo/week2/KREAM/KREAM/SceneDelegate.swift
  bemo/week2/KREAM/KREAM/ViewControllers/HomeViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/LoginViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/MainViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/MyViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/SavedViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/ShopViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/StyleViewController.swift
  bemo/week2/KREAM/KREAM/ViewControllers/ViewController.swift
  bemo/week2/KREAM/KREAM/Views/LoginView.swift
  bemo/week2/KREAM/KREAM/Views/MyView.swift
  bemo/week2/KREAM/KREAM/Views/ProfileEditView.swift
Labels: Week2

#7 [soonny/week2] 2주차 과제
  Kream.xcodeproj/project.pbxproj
  Kream/AppDelegate.swift
  Kream/Assets.xcassets/AccentColor.colorset/Contents.json
  Kream/Assets.xcassets/AppIcon.appiconset/Contents.json
  Kream/Assets.xcassets/Contents.json
  Kream/Assets.xcassets/apple_icon.imageset/Contents.json
  Kream/Assets.xcassets/apple_icon.imageset/apple_logo.png
  Kream/Assets.xcassets/kakao_icon.imageset/Contents.json
  Kream/Assets.xcassets/kakao_icon.imageset/kakao_log.png
  Kream/Assets.xcassets/kream_logo.imageset/Contents.json
  Kream/Assets.xcassets/kream_logo.imageset/Kream_logo.jpg
  Kream/Assets.xcassets/profile_image.imageset/Contents.json
  Kream/Assets.xcassets/profile_image.imageset/프로필 Image.png
  Kream/Assets.xcassets/round.colorset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/home_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/home_icon.imageset/icon_home_fill.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon 1.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon 2.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon.png
  Kream/Assets.xcassets/tab_bar_icon/saved_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/saved_icon.imageset/_icon_saved_none.png
  Kream/Assets.xcassets/tab_bar_icon/shop_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/shop_icon.imageset/icon_shop_none.png
  Kream/Assets.xcassets/tab_bar_icon/style_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/style_icon.imageset/icon_style_fill.png
  Kream/Models/LoginModel.swift
  Kream/SceneDelegate.swift
  Kream/VIews/HomeViewController.swift
  Kream/VIews/LoginView.swift
  Kream/VIews/MainTabBarViewController.swift
  Kream/VIews/MyViewController.swift
  Kream/VIews/SavedViewController.swift
  Kream/VIews/SettingViewController.swift
  Kream/VIews/ShopViewController.swift
  Kream/VIews/StyleViewController.swift
  Kream/ViewControllers/LoginViewController.swift
Labels: Week2

#5 [soonny/week1] 1주차 과제
  Kream.xcodeproj/project.pbxproj
  Kream/AppDelegate.swift
  Kream/Assets.xcassets/AccentColor.colorset/Contents.json
  Kream/Assets.xcassets/AppIcon.appiconset/Contents.json
  Kream/Assets.xcassets/Contents.json
  Kream/Assets.xcassets/apple_icon.imageset/Contents.json
  Kream/Assets.xcassets/apple_icon.imageset/apple_logo.png
  Kream/Assets.xcassets/kakao_icon.imageset/Contents.json
  Kream/Assets.xcassets/kakao_icon.imageset/kakao_log.png
  Kream/Assets.xcassets/kream_logo.imageset/Contents.json
  Kream/Assets.xcassets/kream_logo.imageset/Kream_logo.jpg
  Kream/Assets.xcassets/profile_image.imageset/Contents.json
  Kream/Assets.xcassets/profile_image.imageset/프로필 Image.png
  Kream/Assets.xcassets/round.colorset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/home_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/home_icon.imageset/icon_home_fill.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon 1.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon 2.png
  Kream/Assets.xcassets/tab_bar_icon/mypage_icon.imageset/my_icon.png
  Kream/Assets.xcassets/tab_bar_icon/saved_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/saved_icon.imageset/_icon_saved_none.png
  Kream/Assets.xcassets/tab_bar_icon/shop_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/shop_icon.imageset/icon_shop_none.png
  Kream/Assets.xcassets/tab_bar_icon/style_icon.imageset/Contents.json
  Kream/Assets.xcassets/tab_bar_icon/style_icon.imageset/icon_style_fill.png
  Kream/Models/LoginModel.swift
  Kream/SceneDelegate.swift
  Kream/VIews/HomeViewController.swift
  Kream/VIews/LoginView.swift
  Kream/VIews/MainTabBarViewController.swift
  Kream/VIews/MyViewController.swift
  Kream/VIews/SavedViewController.swift
  Kream/VIews/SettingViewController.swift
  Kream/VIews/ShopViewController.swift
  Kream/VIews/StyleViewController.swift
  Kream/ViewControllers/LoginViewController.swift
Labels: Week1

#4 [haetae/week1] 1주차 과제
  Week1/UMCKream/UMCKream.xcodeproj/project.pbxproj
  Week1/UMCKream/UMCKream/AppDelegate.swift
  Week1/UMCKream/UMCKream/Assets.xcassets/AccentColor.colorset/Contents.json
  Week1/UMCKream/UMCKream/Assets.xcassets/AppIcon.appiconset/Contents.json
  Week1/UMCKream/UMCKream/Assets.xcassets/Contents.json
  Week1/UMCKream/UMCKream/Assets.xcassets/Kream.imageset/Contents.json
  Week1/UMCKream/UMCKream/Assets.xcassets/Kream.imageset/Kream.png
  Week1/UMCKream/UMCKream/Models/LoginModel.swift
  Week1/UMCKream/UMCKream/SceneDelegate.swift
  Week1/UMCKream/UMCKream/ViewControllers/LoginViewController.swift
  Week1/UMCKream/UMCKream/Views/LoginView.swift
  Week1/UMCKream/UMCKreamTests/UMCKreamTests.swift
  Week1/UMCKream/UMCKreamUITests/UMCKreamUITests.swift
  Week1/UMCKream/UMCKreamUITests/UMCKreamUITestsLaunchTests.swift
Labels: Week1

#11 [haetae/week3] 3주차 과제
  week3/KREAM 복사본.xcodeproj/project.pbxproj
  week3/KREAM 복사본/AppDelegate.swift
  week3/KREAM 복사본/Assets.xcassets/AccentColor.colorset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/AppIcon.appiconset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/Contents.json
  week3/KREAM 복사본/Assets.xcassets/Kream.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/Kream.imageset/Kream.png
  week3/KREAM 복사본/Assets.xcassets/camera.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/camera.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/home.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/home.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/my.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/my.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/profile.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/profile.imageset/profile.png
  week3/KREAM 복사본/Assets.xcassets/saved.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/saved.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/setting.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/setting.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/shop.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/shop.imageset/Image.png
  week3/KREAM 복사본/Assets.xcassets/style.imageset/Contents.json
  week3/KREAM 복사본/Assets.xcassets/style.imageset/Image.png
  week3/KREAM 복사본/Models/LoginModel.swift
  week3/KREAM 복사본/SceneDelegate.swift
  week3/KREAM 복사본/ViewControllers/HomeViewController.swift
  week3/KREAM 복사본/ViewControllers/LoginViewController.swift
  week3/KREAM 복사본/ViewControllers/MyPageManageViewController.swift
  week3/KREAM 복사본/ViewControllers/MyPageViewController.swift
  week3/KREAM 복사본/ViewControllers/SavedViewController.swift
  week3/KREAM 복사본/ViewControllers/ShophViewController.swift
  week3/KREAM 복사본/ViewControllers/StyleViewController.swift
  week3/KREAM 복사본/ViewControllers/TabarViewController.swift
  week3/KREAM 복사본/Views/LoginView.swift
  week3/KREAM 복사본/Views/ManageProfilePageView.swift
  week3/KREAM 복사본/Views/MyPageView.swift
  week3/KREAMTests 복사본/KREAMTests.swift
  week3/KREAMUITests 복사본/KREAMUITests.swift
  week3/KREAMUITests 복사본/KREAMUITestsLaunchTests.swift
Labels: Week3
